body {
  font-family: 'UnifrakturMaguntia', cursive;
}
.main-text-other {
  color: #280E0E;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: -2px;
  text-shadow: #EDEDED 3px 2px 0;
}

.rounded {
  border-radius: 30px !important;
  min-width: 200px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

.row {
  height: 15em;
}

.main-text {
  font-weight: 800;
  font-size: 1.5em;
}
